{% extends 'base.html' %}
    {% block title %}About This App{% endblock %}

    {% block content %}
           <h1>About This App</h1>
            <p>This was just a small little thing I put together to demonstrate a tad bit of the knowledge I gained from learning Django (as well as my capacity to learn things quickly)</p>
            <p>Fortunately Django in Python is incredibly similar to Sinatra in Ruby and so I felt pretty right at home with Djano Models and other components</p>
    {% endblock %}
 
