{% extends 'base.html' %}
    {% block title %}Edit Item{% endblock %}

    {% block content %}
        {% if item %}
            <form class="form-inline" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="{{item.item}}" value="{{item.item}}" aria-label="Edit List Item" name="item">
                <input type="hidden" value="{{ item.completed }}" name="completed">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Rename</button>
            </form>
        {% endif %}
    {% endblock %}
